
<div class="band-container">
  <%= image_tag @band.band_img.url %>
  <!-- <p>（仮の画像）</p> -->
  <h1><%= @band.band_name %></h1>
  <p>ジャンル：<%= @band.band_categ %></p><br>
  <h4>バンドのプロフィール</h4>
  <p><%= @band.band_bio %></p>
</div>


<%= link_to "#" do %>
  <%= image_tag '/like-icon.png' %>
<% end %>
